<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../public/lib/vue.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

</head>
<body>
<div id="app">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">试卷预览页</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" class="form-control" v-model="id">
            </label>
            <label>
                Name:
                <input type="text" class="form-control" v-model="name" @keyup.enter="add">
            </label>

            <input type="button" value="add" class="btn btn-primary" @click="add">
            <label>
                关键字:
                <input type="text" class="form-control" v-model="keywords">
            </label>

        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <!--        之前-->
        <tr v-for="item in search2(keywords)" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.created_at | dataFormat('yyyy-mm-dd')}}</td>
<!--            <td><a href="" @click.prevent="del2(item.id)">delete</a></td>-->
            <td><a href="" @click.prevent="delmsg(item.id)">delete</a></td>

        </tr>
        </tbody>
    </table>
</div>


<script>

    Vue.http.options.root='http://127.0.0.1:3000/'

    Vue.filter('dataFormat', function (DateStr, pattern) {
        var dt = new Date(DateStr)

        var y = dt.getFullYear()
        var m = (dt.getMonth() + 1).toString().padStart(2, '0')
        var d = dt.getDate().toString().padStart(2, '0')

        if (pattern && pattern.toLowerCase() === 'yyyy-mm-dd') {
            return `${y}-${m}-${d}`
        } else {
            var hh = dt.getHours().toString().padStart(2, '0')
            var mm = dt.getMinutes().toString().padStart(2, '0')
            var ss = dt.getSeconds().toString().padStart(2, '0')
            return `${y}-${m}-${d} ${hh}-${mm}-${ss}`
        }
    });


    var vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            keywords: '',
            list: [
                {id: 1, name: '奔驰', created_at: new Date()},
                {id: 2, name: 'bmw', created_at: new Date()}
            ]
        },
        methods: {
            add() {
                // var car = {id: this.id, name: this.name, created_at: new Date()}
                // this.list.push(car)
                this.$http.post('/add_expaper',{name:this.name,id:this.id},{emulateJSON:true}).then(result => {
                    //this.list = result.body;
                    console.log(result.body)
                    this.getAllList()
                })

            },
            delmsg(id){
                this.$http.get('/del_expaper?id='+id).then(result => {
                    this.getAllList()
                })
            },
            search2(keywords) {
                return this.list.filter(item => {
                    if (item.name.includes(keywords)) {
                        return item
                    }
                })
            },
            getAllList() {
                this.$http.get('api/getscript?callback=aaa').then(result => {
                    this.list = result.body;
                    //console.log(result.body)
                })
            },

        },
        created() {
            this.getAllList()
        },
    });


</script>
</body>
</html>