<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>写入试卷到数据库和本地</title>
</head>
<body>
<form method="post" action="/api/user/register">
    user:<input name="username" type="text"><br/><br/>
    pwd:<input name="password" type="text"><br/><br/>
    email:<textarea name="email"></textarea><br/><br/>
    identity<textarea name="identity"></textarea><br/><br/>

    <input type="submit" value="写入"/>

</form>
</body>
</html>